*{
    margin: 0;
    padding: 0;
    background: url('back.jpg');
}
.thank{
    padding-top: 200px;
    text-align: center;
    color: navy;
}
.tick{
    text-align: center;
    color: green;
}
.para{
    text-align: center;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    color:crimson;
}